.introduction {
    font-family: sans-serif;
    font-size: 16px;
    color: rgb(173, 224, 255);
    text-align: center;
}

.github {
    outline: 1cm;
    background-color: lightcoral;
    border-radius: 10px;
    border-color:  rgb(0, 97, 157);
}


.github-text {
    font-family: sans-serif;
    color:  rgb(173, 224, 255);
    font-size: 25px;
}

body {
    background-color: lightcoral;
}

.github-paragraph {
    font-family: sans-serif;
    font-size: 22px;
    color: rgb(173, 224, 255);
}

.github-link {
    color: lightsalmon;
}

.github-link:hover {
    color: white;
}

.youtube {
    color: lightsalmon;
}

.youtube:hover {
    color: white;
}

.text-about-site {
    font-family: sans-serif;
    color:  rgb(173, 224, 255);
    font-size: 22px;
}

.youtube:active {
    color: brown;
}